<?xml version="1.0" encoding="UTF-8"?>
<!--monitorInterval="30"  :间隔秒数,自动检测配置文件的变更和重新配置本身-->
<configuration status="off" monitorInterval="300">
    <!--appender 定义输出内容,输出格式,输出方式,日志保存策略等,常用其下三种标签[console,File,RollingFile]-->
    <appenders>
        <console name="Console" target="system_out">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5level] %l - %msg%n"/>
        </console>

        <RollingFile name="RollingFile"
                     fileName="${env:app_home}/logs/all.log"
                     filePattern="${env:app_home}/logs/%d{yyyy-MM}/all-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %l - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20mb"/>
            </Policies>
            <!-- 设置同类型日志,同一文件夹下可以存放的数量,如果不设置此属性则默认存放7个文件 -->
            <DefaultRolloverStrategy max="7" />
        </RollingFile>
    </appenders>

    <loggers>
        <!--Logger节点用来单独指定日志的形式，name为包路径,比如要为org.springframework包下所有日志指定为debug级别等。 -->
        <logger name="com.demo.comment.controller" level="debug" >
        </logger>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>
    </loggers>

</configuration>